@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;1,200;1,500;1,700&display=swap');

body{
  font-family: 'Mulish', sans-serif;
}
.header{
  width: 80%;
  margin: 0 auto;
  /* border: 2px solid green; */
}
.title-logo{
  display: flex;
  /* border: 2px red solid; */
  width: 50%;
  gap: 20px;
}
.title-a a{
text-decoration: none;
font-size: 18px;
font-family: 'Mulish', sans-serif;
}
.title-a{
  /* border: 2px solid blue; */
  width: 50%;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}
nav{
  display: flex;
}
.nav-title{
  font-weight: 800;
  font-size: 36px;
}
.title-logo img{
  width: 10%;
}
.orange{
  color: orangered;
}
.nav-section{
  background-image: url(/Images/Group\ 13\ \(1\)\ \(1\).png);
 background-repeat: no-repeat;
 width: 90%;
 margin: 0 auto;
 height: 60vh;
  text-align: center; 
  align-items: center;
text-align: center; 
padding: 50px;
/* background-size: cover; */

 
}
.nav-input{
  /* width: 90%; */
 border-radius: 10px;
background: rgba(255, 255, 255, 0.30);
padding: 16px;
/* margin: 0 auto; */
/* display: flex; */


}
.input-nav{
  font-size: 20px;
  width: 200px;
  border-radius: 5px;
  border-style: none;
  height: 30px;
  margin-left: 20px;

}
.nav-explore{
  color: #FFF;
font-family: Mulish;
font-size: 64px;
font-weight: 800;
}
.nav-p{
  color: #FFF;
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
  
}
.main-title{
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.explain-h1{
  color: #131318;
font-size: 50px;
font-weight: 900;
}
.explain-p{
  color: rgba(19, 19, 24, 0.70);
font-size: 16px;
font-weight: 400;
width: 486px;
}
.explain-pp{
  width: 530px;
}
.read-more{
  border-radius: 8px;
background: #FF5400;
border: none;
width: 110px;
height: 40px;
color: white;
font-weight: 500;
}
.destination{
  width: 80%;
  margin: 0 auto;
  text-align: center;
 
}

.first-row{
  display: flex;
  gap: 20px;
}
.second-row{
  display: flex;
  margin-left: 20px;
  padding: 10px;
  gap: 20px;
  margin-top: 10px;

  width: 100%;
  justify-content: space-between;
}
.third-row{
  display: flex;
  gap: 10px;
  margin-top: 10px;
  margin-left: 20px;
  padding: 10px;
  justify-content: space-between;
  width: 100%;
}
.choose{
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.card-flex{
  display: flex;
  text-align: start;
  gap: 20px;
  width: 80%;
  margin: 0 auto;

}
.last-card{
  width: 50%;
  margin: 0 auto;
  text-align: start;
  margin-top: 20px;
}
.hotel{
  border-radius: 16px;
border: 1px solid rgba(251, 181, 99, 0.20);
background: rgba(251, 181, 99, 0.05);
padding: 20px;
}
.map-icon{
  border-radius: 16px;
border: 1px solid rgba(41, 206, 246, 0.20);
background: rgba(41, 206, 246, 0.05);
padding: 20px;
}
.simple-place{
  display: flex;
  width: 80%;
  margin: 0 auto;
  margin-top: 100px;
  gap: 50px;
}
.place-title{
  color: #131318;
font-size: 40px;
font-weight: 800;
}
.place-explain{
  color: #131318;
font-size: 16px;
font-weight: 700;
padding: 10px;
}
.news{
  display: flex;
  width: 80%;
  margin:0 auto;
  justify-content: space-between;
  margin-top: 100px;
  /* border: 5px solid yellow; */
}
.input-news{
 flex-direction: column;
border: 2px solid red;
width: 100%;
}
.name-form{
  padding: 20px;
  border: none;
  border-radius: 8px;
background: rgba(19, 19, 24, 0.05);
width: 450px;
margin-bottom: 20px;
}
#submit-form{
  width: 500px;
margin-bottom: 20px;
padding: 20px;
  border: none;
  border-radius: 8px;
  justify-content: center;
  text-align: center;
color: white;
  border-radius: 8px;
background: #FF5400;
}
.footer{
  background: rgba(19, 19, 24, 0.05);
  padding: 20px;
  margin-top: 50px;
}
.footer-last{
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.footer-explain{
  color: #5A5A5D;
text-align: center;
font-size: 16px;
font-weight: 400;

}
.all-rights{
  color: #131318;
font-size: 16px;
font-weight: 300;
}
.a-icons{
  font-size: 30px;
  padding: 10px;
  color: black;
}
.news-img{
  position: relative;
}
.off{
  background-color: #FF5400;
  width:200px;
  padding: 10px 30px ;
  color: whitesmoke;
  text-align: center;
  border-radius: 10px;
  position: absolute;
  bottom: 30px;
  left: 60%;


}


/* bonus */

.place-img{
  position: relative;
}
.maldives{
  position: absolute;
  color:white;
  bottom: px;
  top: 180px;
  left: 250px;
  
}
.indonesia{
  position: absolute;
  color:white;
  left: 880px;
  top: 180px;
}
.srilanka{
  position: absolute;
  color:white;
  top: 550px;
  left: 150px;
}
.northamerica{
  position: absolute;
  color:white;
  left: 580px;
  top: 550px;
}
.kashmir{
  position: absolute;
  color:white;
  left: 1050px;
  top: 550px;
}
.bangladesh{
  position: absolute;
  color:white;
  top: 880px;
  left: 180px;
}
.bandarban{
  position: absolute;
  color:white;
  left: 840px;
  top: 880px;
}

















@media screen and (max-width: 600px) {
  nav,
  .title-a,
  .nav-input,
  .main-title{
    flex-direction: column;
   
  }
  .nav-section{
    /* width: 400px;
    padding: 10px;
    height: 500px; */
    width:100%;
    height: 100%;
    padding: 0;
    display: block;
    background-size: cover;
  
  
    
  }
  .nav-explore{
    font-size: 40px;
  }
  .nav-p{
    font-size: 10px;
  }
 

  .title-a{
    display: none;
  }
  .nav-input{
    padding: 5px;
    width: 80%;
    margin: 0 auto;
    
  }
  .input-nav{
    margin-top: 10px;
  }
  .title-logo{
 justify-content: space-between;

  }
  /* .header{
    width: 80%;
    margin: 0 auto;
  } */
  .main-img{
    width: 100px;
  }
  .main-title{
    /* width: 90%; */
    width: 100%;
    margin: 0 auto;
    

  }
.explain-img{
  width: 100%;
}
.explaination{
  width: 100%;
}
}